Repository GDevelopApp/GDevelop-examples, pull requests merged in 2021-08, with the labels that each got.

#58 Add new Reflection example
  examples/reflective-surface/assets/Bumped-01.png
  examples/reflective-surface/assets/Cloud-1.png
  examples/reflective-surface/assets/Cloud-2.png
  examples/reflective-surface/assets/Idle-01.png
  examples/reflective-surface/assets/Idle-02.png
  examples/reflective-surface/assets/Reflective-Bumped-01.png
  examples/reflective-surface/assets/Reflective-Cloud-1.png
  examples/reflective-surface/assets/Reflective-Cloud-2.png
  examples/reflective-surface/assets/Reflective-Idle-01.png
  examples/reflective-surface/assets/Reflective-Idle-02.png
  examples/reflective-surface/assets/Reflective-Running-01.png
  examples/reflective-surface/assets/Reflective-Running-02.png
  examples/reflective-surface/assets/Reflective-Running-03.png
  examples/reflective-surface/assets/Reflective-Running-04.png
  examples/reflective-surface/assets/Reflective-Running-05.png
  examples/reflective-surface/assets/Reflective-Running-06.png
  examples/reflective-surface/assets/Running-01.png
  examples/reflective-surface/assets/Running-02.png
  examples/reflective-surface/assets/Running-03.png
  examples/reflective-surface/assets/Running-04.png
  examples/reflective-surface/assets/Running-05.png
  examples/reflective-surface/assets/Running-06.png
  examples/reflective-surface/assets/SmallGreenPlatform-reflection.png
  examples/reflective-surface/assets/SmallGreenPlatform.png
  examples/reflective-surface/assets/tiledPlatform.png
  examples/reflective-surface/assets/tiledWater.png
  examples/reflective-surface/reflective_surface.json
Labels: ✨ New example

#60 Add Magnetic Effect example
  examples/magnet/README.md
  examples/magnet/assets/Aimant.png
  examples/magnet/assets/Bille.png
  examples/magnet/assets/Blue Character (5).png
  examples/magnet/assets/Bois.png
  examples/magnet/assets/Green Gem.png
  examples/magnet/assets/Square joystick (outer).png
  examples/magnet/assets/Trou.png
  examples/magnet/assets/White Gem.png
  examples/magnet/assets/zoneperdu.png
  examples/magnet/magnet.json
Labels: 🏁 Example almost ready: final fixes, ✨ New example

#32 New Break Out Example
  examples/breakout/Assets/Ball.png
  examples/breakout/Assets/Barrier.png
  examples/breakout/Assets/Block_Red.png
  examples/breakout/Assets/Block_White.png
  examples/breakout/Assets/Block_Yellow.png
  examples/breakout/Assets/BreakOut_logo.png
  examples/breakout/Assets/ExtraLife.png
  examples/breakout/Assets/GDevelop_Logo.png
  examples/breakout/Assets/GUIBackGround.png
  examples/breakout/Assets/Home_Hover.png
  examples/breakout/Assets/Home_Idle.png
  examples/breakout/Assets/Home_Pressed.png
  examples/breakout/Assets/LifeCounter_0Life.png
  examples/breakout/Assets/LifeCounter_1Life.png
  examples/breakout/Assets/LifeCounter_2Life.png
  examples/breakout/Assets/LifeCounter_3Life.png
  examples/breakout/Assets/Paddle.png
  examples/breakout/Assets/PaddleLine.png
  examples/breakout/Assets/PlayPhysics_Hover.png
  examples/breakout/Assets/PlayPhysics_Normal.png
  examples/breakout/Assets/PlayPhysics_Pressed.png
  examples/breakout/Assets/Play_Hover.png
  examples/breakout/Assets/Play_Normal.png
  examples/breakout/Assets/Play_pressed.png
  examples/breakout/Assets/Power-up_BiggerPaddle.png
  examples/breakout/Assets/Power-up_Biggerball.png
  examples/breakout/Assets/Power-up_Multiball.png
  examples/breakout/Assets/Power-up_SmallerBall.png
  examples/breakout/Assets/Power-up_SmallerPaddle.png
  examples/breakout/Assets/Replay_Hover.png
  examples/breakout/Assets/Replay_Normal.png
  examples/breakout/Assets/Replay_Pressed.png
  examples/breakout/Assets/impactMining_000.ogg
  examples/breakout/Assets/impactSoft_medium_004.ogg
  examples/breakout/Assets/kenvector_future_thin.ttf
  examples/breakout/Assets/select_003.ogg
  examples/breakout/ball-1.png
  examples/breakout/barrier-1.png
  examples/breakout/barrier.jpg
  examples/breakout/breakout.json
  examples/breakout/brick-green.png
  examples/breakout/brick-red.png
  examples/breakout/brick-yellow.png
  examples/breakout/paddle.png
  examples/breakout/thumbnail.png
Labels: ✨ New example

#74 Add minesweeper like game
  examples/minesweeper/README.md
  examples/minesweeper/assets/BackDrop.png
  examples/minesweeper/assets/GDevelop_Logo.png
  examples/minesweeper/assets/GUIBackGround.png
  examples/minesweeper/assets/Home_Idle.png
  examples/minesweeper/assets/Kenney Future Narrow.ttf
  examples/minesweeper/assets/Mine.png
  examples/minesweeper/assets/Replay_Normal.png
  examples/minesweeper/assets/Tester.png
  examples/minesweeper/assets/Tile.png
  examples/minesweeper/assets/bomb.ogg
  examples/minesweeper/assets/bomb.png
  examples/minesweeper/assets/flag.png
  examples/minesweeper/assets/flag_place.ogg
  examples/minesweeper/assets/flag_remove.ogg
  examples/minesweeper/assets/gdevelop-logo.png
  examples/minesweeper/assets/home.png
  examples/minesweeper/assets/next.png
  examples/minesweeper/assets/peek.png
  examples/minesweeper/assets/replay.png
  examples/minesweeper/game.json
  examples/minesweeper/thumbnail.png
Labels: 🏁 Example almost ready: final fixes, 🚧 Work In Progress, ✨ New example
