Repository GDevelopApp/GDevelop-examples, pull requests merged in 2021-11, with the labels that each got.

#152 Add author names on examples
  examples/advanced-shape-based-painter/advanced-shape-based-painter.json
  examples/asteroids/asteroids.json
  examples/basic-ai-with-pathfinding/basic-ai-with-pathfinding.json
  examples/basic-topdown-car-driving/basic-topdown-car-driving.json
  examples/change-position-of-object/change-position-of-object.json
  examples/change-sprite-color/change-sprite-color.json
  examples/character-selection/character-selection.json
  examples/count-down-timer/count-down-timer.json
  examples/create-random-object/create-random-object.json
  examples/drag-camera-with-mouse/drag-camera-with-mouse.json
  examples/health-bar/health-bar.json
  examples/infinite-scrolling-background/infinite-scrolling-background.json
  examples/inventory-system/inventory-system.json
  examples/keyboard-practice/keyboard-practice.json
  examples/level-editor/level-editor.json
  examples/level-selection-unlock/level-selection-unlock.json
  examples/magnet/magnet.json
  examples/move-camera-to-position/move-camera-to-position.json
  examples/move-object-back-and-forth/move-object-back-and-forth.json
  examples/multi-language-menu/multi-language-menu.json
  examples/object-selection/object-selection.json
  examples/parse-json-from-api/parse-json-from-api.json
  examples/pathfinding-basics/pathfinding-basics.json
  examples/pathfinding/pathfinding.json
  examples/pin-object-to-another-multiple-parents/pin-object-to-another-multiple-parents.json
  examples/pin-object-to-another/pin-object-to-another.json
  examples/play-stop-sprite-animation/play-stop-sprite-animation.json
  examples/racing-game/racing-game.json
  examples/random-color-picker/random-color-picker.json
  examples/rotate-toward-mouse/rotate-toward-mouse.json
  examples/rotate-toward-position/rotate-toward-position.json
  examples/rotate-with-keypress/rotate-with-keypress.json
  examples/save-load/save-load.json
  examples/shoot-bullets/shoot-bullets.json
  examples/text-entry-object/text-entry-object.json
  examples/text-to-speech/text-to-speech.json
  examples/toggle-music-play-sound/toggle-music-play-sound.json
  examples/unlock-items/unlock-items.json
  examples/z-depth/z-depth.json
Labels: 🔄 Example update

#156 Add long description to Virtual Joystick example
  examples/virtual-joystick/README.md
Labels: 🔄 Example update

#153 Add New example label to issue template
  .github/ISSUE_TEMPLATE/new-example.md
Labels: documentation

#142 Add a card system example
  examples/card-system/README.md
  examples/card-system/assets/Buff Arrow 3_No Shadow.png
  examples/card-system/assets/Debuff Arrow 3_No Shadow.png
  examples/card-system/assets/Repeat Arrow_No Shadow.png
  examples/card-system/assets/card_back.png
  examples/card-system/assets/card_clubs_02.png
  examples/card-system/assets/card_clubs_03.png
  examples/card-system/assets/card_clubs_A.png
  examples/card-system/assets/card_diamonds_02.png
  examples/card-system/assets/card_diamonds_03.png
  examples/card-system/assets/card_diamonds_A.png
  examples/card-system/assets/card_hearts_02.png
  examples/card-system/assets/card_hearts_03.png
  examples/card-system/assets/card_hearts_A.png
  examples/card-system/assets/card_spades_02.png
  examples/card-system/assets/card_spades_03.png
  examples/card-system/assets/card_spades_A.png
  examples/card-system/card-system.json
  examples/card-system/thumbnail.png
Labels: ✨ New example

#168 Add Platformer Room Camera
  examples/platformer-room-camera/GoldCoin-1.png
  examples/platformer-room-camera/GoldCoin-2.png
  examples/platformer-room-camera/GoldCoin-3.png
  examples/platformer-room-camera/GoldCoin-4.png
  examples/platformer-room-camera/Pixellari.ttf
  examples/platformer-room-camera/README.md
  examples/platformer-room-camera/arrow.png
  examples/platformer-room-camera/graywall.png
  examples/platformer-room-camera/placeholder.png
  examples/platformer-room-camera/platformer-room-camera.json
  examples/platformer-room-camera/player.png
  examples/platformer-room-camera/semiwall.png
  examples/platformer-room-camera/wall.png
Labels: ✨ New example
