Repository GDevelopApp/GDevelop-examples, pull requests merged in 2022-07, with the labels that each got.

#315 Update README.md
  README.md
Labels: documentation

#339 [Parking Jam] Remove the unused effect on layers
  examples/parking-jam/parking-jam.json
Labels: 🔄 Example update

#350 [Absorbus] Fix formulas
  examples/absorbus/absorbus.json
Labels: 🔄 Example update

#337 [QIX] Upgrade the marching square extension to fix a collision issue.
  examples/marching-squares-qix/marching-squares-qix.json
Labels: 🔄 Example update

#338 [PlatformerPainter] Upgrade the marching square extension to have better collisions.
  examples/marching-squares-platforms-painter/marching-squares-platforms-painter.json
Labels: 🔄 Example update

#353 Add Voice recognition example
  examples/voice-recognition/README.md
  examples/voice-recognition/assets/Start button.png
  examples/voice-recognition/license.txt
  examples/voice-recognition/thumbnail.png
  examples/voice-recognition/voice-recognition.json
Labels: ✨ New example

#346 [platformer-with-tilemap] Add a collision layer.
  examples/platformer-with-tilemap/README.md
  examples/platformer-with-tilemap/assets/my platformer map.json
  examples/platformer-with-tilemap/platformer-with-tilemap.json
Labels: 🏗 Need a change in GDevelop, 🔄 Example update

#343 [Not-a-Vania] Add a collision layer.
  examples/not-a-vania/Level1.json
  examples/not-a-vania/not-a-vania.json
Labels: 🏗 Need a change in GDevelop, 🔄 Example update

#357 Chat Bubble extension example
  examples/chat-bubble/README.md
  examples/chat-bubble/assets/AngryPig_Hit 1_1.png
  examples/chat-bubble/assets/AngryPig_Hit 1_2.png
  examples/chat-bubble/assets/AngryPig_Hit 1_3.png
  examples/chat-bubble/assets/AngryPig_Hit 1_4.png
  examples/chat-bubble/assets/AngryPig_Hit 1_5.png
  examples/chat-bubble/assets/AngryPig_Hit 2_1.png
  examples/chat-bubble/assets/AngryPig_Hit 2_2.png
  examples/chat-bubble/assets/AngryPig_Hit 2_3.png
  examples/chat-bubble/assets/AngryPig_Hit 2_4.png
  examples/chat-bubble/assets/AngryPig_Hit 2_5.png
  examples/chat-bubble/assets/AngryPig_Idle_1.png
  examples/chat-bubble/assets/AngryPig_Idle_2.png
  examples/chat-bubble/assets/AngryPig_Idle_3.png
  examples/chat-bubble/assets/AngryPig_Idle_4.png
  examples/chat-bubble/assets/AngryPig_Idle_5.png
  examples/chat-bubble/assets/AngryPig_Idle_6.png
  examples/chat-bubble/assets/AngryPig_Idle_7.png
  examples/chat-bubble/assets/AngryPig_Idle_8.png
  examples/chat-bubble/assets/AngryPig_Idle_9.png
  examples/chat-bubble/assets/AngryPig_Run_1.png
  examples/chat-bubble/assets/AngryPig_Run_10.png
  examples/chat-bubble/assets/AngryPig_Run_11.png
  examples/chat-bubble/assets/AngryPig_Run_12.png
  examples/chat-bubble/assets/AngryPig_Run_2.png
  examples/chat-bubble/assets/AngryPig_Run_3.png
  examples/chat-bubble/assets/AngryPig_Run_4.png
  examples/chat-bubble/assets/AngryPig_Run_5.png
  examples/chat-bubble/assets/AngryPig_Run_6.png
  examples/chat-bubble/assets/AngryPig_Run_7.png
  examples/chat-bubble/assets/AngryPig_Run_8.png
  examples/chat-bubble/assets/AngryPig_Run_9.png
  examples/chat-bubble/assets/AngryPig_Walk_1.png
  examples/chat-bubble/assets/AngryPig_Walk_10.png
  examples/chat-bubble/assets/AngryPig_Walk_11.png
  examples/chat-bubble/assets/AngryPig_Walk_12.png
  examples/chat-bubble/assets/AngryPig_Walk_13.png
  examples/chat-bubble/assets/AngryPig_Walk_14.png
  examples/chat-bubble/assets/AngryPig_Walk_15.png
  examples/chat-bubble/assets/AngryPig_Walk_16.png
  examples/chat-bubble/assets/AngryPig_Walk_2.png
  examples/chat-bubble/assets/AngryPig_Walk_3.png
  examples/chat-bubble/assets/AngryPig_Walk_4.png
  examples/chat-bubble/assets/AngryPig_Walk_5.png
  examples/chat-bubble/assets/AngryPig_Walk_6.png
  examples/chat-bubble/assets/AngryPig_Walk_7.png
  examples/chat-bubble/assets/AngryPig_Walk_8.png
  examples/chat-bubble/assets/AngryPig_Walk_9.png
  examples/chat-bubble/chat-bubble.json
  examples/chat-bubble/thumbnail.png
Labels: ✨ New example

#358 Newgrounds API extension example
  examples/newgrounds-api/README.md
  examples/newgrounds-api/assets/LoginButton-1.png
  examples/newgrounds-api/assets/LogoutButton-1.png
  examples/newgrounds-api/newgrounds-api.json
  examples/newgrounds-api/thumbnail.png
Labels: ✨ New example
