Repository GDevelopApp/GDevelop-examples, pull requests merged in 2022-05, with the labels that each got.

#272 Fix URL in "Load a sprite from an URL"
  examples/load-image-from-url/load-image-from-url.json
Labels: 🔄 Example update

#246 [PingPong] Use new touch functions from GDevelop 5.0.132
  examples/ping-pong/ping-pong.json
Labels: 🏗 Need a change in GDevelop, 🔄 Example update

#245 [Multitouch] Use new touch functions from GDevelop 5.0.132
  examples/multitouch/README.md
  examples/multitouch/assets/Pointer-Standard.png
  examples/multitouch/multitouch.json
Labels: 🏗 Need a change in GDevelop, 🔄 Example update

#262 Rework example for stickman hook Starter
  examples/bounce-and-hook/Bounce and hook.png
  examples/bounce-and-hook/README.md
  examples/bounce-and-hook/assets/ArrowDistanceLeft.png
  examples/bounce-and-hook/assets/Audio/Background Music.mp3
  examples/bounce-and-hook/assets/Audio/applause.wav
  examples/bounce-and-hook/assets/Audio/cloud.ogg
  examples/bounce-and-hook/assets/Audio/star.ogg
  examples/bounce-and-hook/assets/Audio/whoosh.wav
  examples/bounce-and-hook/assets/Blue panel_No Shadow.png
  examples/bounce-and-hook/assets/Blue panel_Shadow.png
  examples/bounce-and-hook/assets/Finish.png
  examples/bounce-and-hook/assets/Font/Nathaniel-19.otf
  examples/bounce-and-hook/assets/Small Red Ball.png
  examples/bounce-and-hook/assets/Star_Filled.png
  examples/bounce-and-hook/assets/cloud.png
  examples/bounce-and-hook/assets/tiled_Empty Cloud Background.png
  examples/bounce-and-hook/bounce-and-hook.json
  examples/bouncing-ball-and-rope/Back.jpg
  examples/bouncing-ball-and-rope/Ball.png
  examples/bouncing-ball-and-rope/BoundsLine.png
  examples/bouncing-ball-and-rope/Finish.png
  examples/bouncing-ball-and-rope/GDevelop.png
  examples/bouncing-ball-and-rope/Peg.png
  examples/bouncing-ball-and-rope/README.md
  examples/bouncing-ball-and-rope/Shadow.png
  examples/bouncing-ball-and-rope/Shelf.png
  examples/bouncing-ball-and-rope/bouncing-ball-and-rope.json
Labels: 🔄 Example update

#275 Add GDevelop account as author on game templates
  __tests__/post-build/exampleShortHeaders.json.spec.js
  examples/bounce-and-hook/bounce-and-hook.json
  examples/geometry-monster/geometry-monster.json
  examples/isometric-game/isometric-game.json
  examples/pairs/pairs.json
  examples/platformer/platformer.json
  examples/run-dino-run/run-dino-run.json
  examples/space-shooter/space-shooter.json
Labels: 🔄 Example update

#273 Add achievement system example
  examples/achievement-system/README.md
  examples/achievement-system/achievement-system.json
  examples/achievement-system/assets/Button.png
  examples/achievement-system/assets/Coin.png
  examples/achievement-system/assets/Enemy.png
  examples/achievement-system/assets/Platform.png
  examples/achievement-system/assets/Player.png
Labels: ✨ New example

#284 Update virtual joystick example with multitouch joystick
  examples/virtual-joystick/README.md
  examples/virtual-joystick/assets/Explosion.wav
  examples/virtual-joystick/assets/FireGun.wav
  examples/virtual-joystick/assets/JoystickButton.png
  examples/virtual-joystick/assets/JoystickPad.png
  examples/virtual-joystick/assets/JoystickRing.png
  examples/virtual-joystick/assets/Spaceship.png
  examples/virtual-joystick/assets/bullet.png
  examples/virtual-joystick/assets/button.png
  examples/virtual-joystick/assets/star.png
  examples/virtual-joystick/assets/thumbnail.png
  examples/virtual-joystick/virtual-joystick.json
Labels: 🔄 Example update

#288 A better thumbnail for Duck-Game template
  examples/duck-game/Thumbnail.png
Labels: enhancement

#294 Add a new example rope-physics with Physics 2.0
  examples/rope-physics/README.md
  examples/rope-physics/assets/ChainLink1.png
  examples/rope-physics/assets/ChainLink2.png
  examples/rope-physics/assets/Green block.png
  examples/rope-physics/assets/RopeSegment.png
  examples/rope-physics/assets/StoneBlock.png
  examples/rope-physics/assets/pinkBlock.png
  examples/rope-physics/rope-physics.json
  examples/rope-physics/thumbnail.png
Labels: ✨ New example
