Repository GDevelopApp/GDevelop-examples, pull requests merged in 2022-06, with the labels that each got.

#312 [TopDownGridMovement] Add obstacles.
  examples/top-down-grid-movement/assets/Stone.png
  examples/top-down-grid-movement/top-down-grid-movement.json
Labels: 🔄 Example update

#310 Add an example to show how to simulate a flock movement.
  examples/fish-school/README.md
  examples/fish-school/assets/Jellyfish_No Shadow.png
  examples/fish-school/assets/NoShadow-1-0.png
  examples/fish-school/fish-school.json
Labels: ✨ New example

#313 Add a banner to the thumbnail and remove the preview file
  examples/duck-game/Thumbnail.png
  examples/duck-game/preview.png
Labels: enhancement, 🔄 Example update

#334 Update the procedural example
  examples/procedural-generation/README.md
  examples/procedural-generation/assets/black.png
  examples/procedural-generation/assets/blue.png
  examples/procedural-generation/assets/dark-green.png
  examples/procedural-generation/assets/green.png
  examples/procedural-generation/assets/grey.png
  examples/procedural-generation/assets/transparent.png
  examples/procedural-generation/assets/yellow.png
  examples/procedural-generation/procedural-generation.json
Labels: 🔄 Example update
