Repository GDevelopApp/GDevelop-examples, pull requests merged in 2024-06, with the labels that each got.

#637 [3D first person] Shake the camera on click
  examples/3d-first-person/3d-first-person.json
Labels: 🔄 Example update

#641 [New example] Boids Flocking Simulation
  examples/boids-flocking-simulation/Preview.png
  examples/boids-flocking-simulation/README.md
  examples/boids-flocking-simulation/assets/9patch_Bordered Hud Grey_all_32.png
  examples/boids-flocking-simulation/assets/BoidBird5.png
  examples/boids-flocking-simulation/assets/Square Blue Slider Border.png
  examples/boids-flocking-simulation/assets/Square Blue Slider Fill Bar.png
  examples/boids-flocking-simulation/assets/Square Blue Slider Thumb.png
  examples/boids-flocking-simulation/assets/Square Blue Toggle_Off.png
  examples/boids-flocking-simulation/assets/Square Blue Toggle_On.png
  examples/boids-flocking-simulation/assets/TargetSprite3.png
  examples/boids-flocking-simulation/assets/background_gradient.jpg
  examples/boids-flocking-simulation/boids-flocking-simulation.json
Labels: ✨ New example

#643 Update some examples to use new variable instructions
  examples/3d-car-coin-hunt/3d-car-coin-hunt.json
  examples/3d-first-person/3d-first-person.json
  examples/3d-shooting-gallery/3d-shooting-gallery.json
  examples/3d-tile-based-city-builder/3d-tile-based-city-builder.json
  examples/absorbus/absorbus.json
  examples/ball-cup-boom/ball-cup-boom.json
  examples/bim-bam/bim-bam.json
  examples/bounce-and-hook/bounce-and-hook.json
  examples/breakout/breakout.json
  examples/car-physics/car-physics.json
  examples/conviction-of-gun-dude-desktop/conviction-of-gun-dude-desktop.json
  examples/downhill-bike-physics-demo/GFX/Backward.png
  examples/downhill-bike-physics-demo/GFX/Brake.png
  examples/downhill-bike-physics-demo/GFX/Esc.png
  examples/downhill-bike-physics-demo/GFX/Forward.png
  examples/downhill-bike-physics-demo/GFX/Left.png
  examples/downhill-bike-physics-demo/GFX/Right.png
  examples/downhill-bike-physics-demo/GFX/SF Atarian System.ttf
  examples/downhill-bike-physics-demo/assets/On Screen Controls Button_Hovered.png
  examples/downhill-bike-physics-demo/assets/On Screen Controls Button_Idle.png
  examples/downhill-bike-physics-demo/assets/On Screen Controls Button_Pressed.png
  examples/downhill-bike-physics-demo/downhill-bike-physics-demo.json
  examples/game-feel-demo/game-feel-demo.json
  examples/geometry-monster/geometry-monster.json
  examples/inventory-system/inventory-system.json
  examples/klondike-solitaire/klondike-solitaire.json
  examples/marching-squares-qix/marching-squares-qix.json
  examples/minesweeper/minesweeper.json
  examples/not-a-vania/not-a-vania.json
  examples/old-platformer/old-platformer.json
  examples/pairs/images/Button_Hovered.png
  examples/pairs/images/Button_Idle.png
  examples/pairs/images/Button_Pressed.png
  examples/pairs/pairs.json
  examples/papa-is-you/papa-is-you.json
  examples/parking-jam/parking-jam.json
  examples/ping-pong/ping-pong.json
  examples/platformer-mystery-box/platformer-mystery-box.json
  examples/platformer/platformer.json
  examples/plinko/plinko.json
  examples/run-dino-run/run-dino-run.json
  examples/space-asteroids/space-asteroids.json
  examples/space-shooter/space-shooter.json
  examples/spherez/spherez.json
  examples/tappy-plane/tappy-plane.json
  examples/tile-based-city-builder/tile-based-city-builder.json
  examples/top-down-rpg/top-down-rpg.json
  examples/tower-defense-war/tower-defense-war.json
  examples/wave-defense-shooter/wave-defense-shooter.json
Labels: 🏗 Need a change in GDevelop, 🔄 Example update

#655 Move multiplayer examples forward
  scripts/generate-database.js
Labels: 🏗 Need a change in GDevelop

#657 [Game feel] Upgrade camera shake
  examples/game-feel-demo/game-feel-demo.json
Labels: 🔄 Example update
